{% comment %}
=======================
The following part extracts all the tags from your posts and sort tags, so that you do not need to manually collect your tags to a place.
=======================
{% endcomment %}
{% assign rawtags = "" %}
{% for post in site.posts %}
	{% assign ttags = post.tags | join:'|' | append:'|' %}
	{% assign rawtags = rawtags | append:ttags %}
{% endfor %}
{% assign rawtags = rawtags | split:'|' | sort %}

{% comment %}
=======================
The following part removes dulpicated tags and invalid tags like blank tag.
=======================
{% endcomment %}
{% assign tags = "" %}
{% for tag in rawtags %}
	{% if tag != "" %}
		{% if tags == "" %}
			{% assign tags = tag | split:'|' %}
		{% endif %}
		{% unless tags contains tag %}
			{% assign tags = tags | join:'|' | append:'|' | append:tag | split:'|' %}
		{% endunless %}
	{% endif %}
{% endfor %}

<!doctype>
<html lang="en">
  <head>
    <meta content='{{ page.title }} - {{ site.title }}' name='title' />
    <meta content='{{ page.title }} - {{ site.title }}' name='og:title' />
    <title>{{ page.title }} - {{ site.title }}</title>
    {% include head.html %}
  </head>
  <body class="lh-copy dark-gray pa0 f6 sans-serif bg-super-white">
    <header class="tc mt4">
      <a href="{{ site.url }}">
        <img src="{{ site.url }}/images/scribble.png" alt="Home" width="53" height="59">
      </a>
      <p>{{ site.title }}</p>
    </header>
    <div class="mw7 bg-white mt4 mb3 center br2-ns bt bb ba-ns b--light-gray">
      <nav class="bb b--light-gray pv4 tc" aria-label="Main">
        {% for link in site.links %}
          <a class="link blue hover-mid-gray mh2 pv1"
             href="{% unless link.external %}{{ site.url }}{% endunless %}{{ link.url }}">
             {{ link.name }}
           </a>
        {% endfor %}
      </nav>

      <main class="tl f6 relative pa4 pa5-ns overflow-hidden">
        {% comment %}
        =======================
        The purpose of this snippet is to list all the tags you have in your site.
        =======================
        {% endcomment %}
        <center>
            {% for tag in tags %}
                <a class="tag" href="#{{ tag | slugify }}"> {{ tag }} </a>
            {% endfor %}
        </center>

        {% comment %}
        =======================
        The purpose of this snippet is to list all your posts posted with a certain tag.
        =======================
        {% endcomment %}
        <div class="markdown-body">

            {% for tag in tags %}
                <h2 id="{{ tag | slugify }}">{{ tag }}</h2>
                
                <ul class="list pa0">
                 {% for post in site.posts %}
                     {% if post.tags contains tag %}
                     <li class="mv2" style="display: flex; align-items: center;">
                        <div style="flex-grow: 1;">
                            <a href="{{ site.url }}{{ post.url }}">
                                {{ post.title }}
                                <br />
                                <small>{{ post.date | date_to_string }}</small>
                            </a>
                        </div>
                        <div style="text-align: right;">
                            {% for tag in post.tags %}
                            <small>
                                <a class="tag" href="#{{ tag | slugify }}">{{ tag }}</a>
                            </small>
                            {% endfor %}
                        </div>
                     </li>
                     {% endif %}
                 {% endfor %}
                </ul>
            {% endfor %}
        </div>
      </main>
    </div>
    <footer class="mw7 center tc pt3 pb4 silver">
      Built with Jekyll using <a href="http://github.com/muan/scribble" class="link silver hover-blue pv1">Scribble</a>.
      <img src="{{ site.url }}/images/scribble2.png" alt="scribble" class="mt4 db center" />
    </footer>
  </body>
</html>

